* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

li {
 	float: left;
}

h2 {
  font-size: 26px;
  color: #CCC;
  font-family: Arial, Helvetica, sans-serif;
  width: 380px;
  float: left;
  margin-top: 8px;
  margin-left: 5px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

strong, b {
  font-weight: bold;
}

#contenidor {
  width: 980px;
  height: auto;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#contenidor #cap {
  width: 980px;
  height: 80px;
}

#contenidor #cap .logo {
  display: block;
  width: 60px;
  height: 80px;
  float: left;
}

#logo2 {
	padding-left: 15px;
}

#contenidor #menu {
  width: 980px;
  height: 30px;
  background-color: #8accc7;
  margin-bottom: 20px;
}

#buscador {
	width: 300px;
	height: 25px;
	padding-top: 15px;
	float: right;
	padding-right: 0px;
}
	
#contenidor #menu #m_benvinguts a {
	display:block;
	width:125px;
	height:22px;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	text-align: center;
	padding-top:8px;
}

#contenidor #menu #m_benvinguts a:hover {
	display:block;
	width:125px;
	height:22px;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align: center;
	padding-top:8px;
}
	
#contenidor #menu #m_tarifes a {
	display:block;
	width:80px;
	height:22px;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	text-align: left;
	padding-top:8px;
}

#contenidor #menu #m_tarifes a:hover {
	display:block;
	width:80px;
	height:22px;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align: left;
	padding-top:8px;
}

#contenidor #menu #m_calendari a {
	display:block;
	width:100px;
	height:22px;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	text-align: left;
	padding-top:8px;
}
	
#contenidor #menu #m_calendari a:hover {
	display:block;
	width:100px;
	height:22px;
	text-decoration:none;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align: left;
	padding-top:8px;
}

#portada {
  width: 980px;
  height: 582px;
  padding-bottom: 15px;
}

#contenidor #peu {
  width: 980px;
  height: 40px;
}

#peu p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #575757;
  padding-top: 5px;
  text-align: center;
}

.negre {
  color: #000;
}
